services:
    rplidar:
        image: eduartrobotik/sensor:1.0.0
        container_name: eduart-sensor-rpliadr-1.0.0
        user: root
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
        network_mode: "host"
        devices:
            - '/dev:/dev'
        group_add:
            - dialout
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch rplidar.launch.py'
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
