version: "3.0"

services:
    nav2:
        image: eduartrobotik/nav2:1.1.0
        container_name: nav2-1.1.0
        user: user
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - CYCLONEDDS_URI=/home/user/ros/launch_content/cyclone_profile.xml              
        network_mode: "host"
        devices:
            - '/dev:/dev'
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch navigation.launch.py & ros2 launch twist_accumulator.launch.py'
        # command: bash -c 'cd /home/user/ros/launch_content; ros2 launch twist_accumulator.launch.py'        
        # command: tail -F anything
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
