version: "3.0"

services:
    edu-web-joy:
        image: eduartrobotik/eduard-web-joy:0.2.2
        container_name: eduard-web-joy-0.2.2
        user: root
        restart: on-failure
        privileged: true
        ipc: host
        pid: host
        mem_limit: 150mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
        network_mode: host
