version: "3.0"

services:
    sick-localization:
        image: eduartrobotik/sensor:1.0.0
        container_name: eduart-sensor-sick-localization-1.0.0
        user: root
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=${EDU_ROBOT_NAMESPACE}
            - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
            - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
        network_mode: "host"
        devices:
            - '/dev:/dev'
        group_add:
            - dialout
        command: bash -c 'cd /home/user/ros/launch_content; ros2 launch sick_scan_xd sick_picoscan.launch.py hostname:="192.168.0.70" udp_receiver_ip:=192.168.0.100 publish_frame_id:=${EDU_ROBOT_NAMESPACE}/laser & ros2 run sick_lidar_localization sick_lidar_localization ./sick_lidar_localization.launch & ros2 launch launch_sick_pico.launch.py'
        # command: bash -c 'cd /home/user/ros/launch_content; ros2 launch launch_sick_pico.launch.py & ros2 run sick_lidar_localization sick_lidar_localization ./sick_lidar_localization.launch'
        # command: tail -F anything
        volumes:
            - './launch_content:/home/user/ros/launch_content:r'
