version: "3.0"

services:
    rplidar:
        image: eduartrobotik/rpliadr:1.0.0
        container_name: rpliadr:1.0.0
        user: root
        restart: always
        privileged: true
        ipc: host
        pid: host
        mem_limit: 300mb
        environment:
            - EDU_ROBOT_NAMESPACE=eduard/red
        network_mode: "host"
        devices:
            - '/dev:/dev'
        group_add:
            - dialout
